<div id="<%= dom_id administrator %>">
  <p>
    <strong>Username:</strong>
    <%= administrator.username %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= administrator.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= administrator.email %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= administrator.password %>
  </p>
</div>