<%#= form_with(model: @show) do |form| %>
<%= form_with model: [:admin, @show], url: @show.persisted? ? admin_show_path(@show) : admin_shows_path, method: @show.persisted? ? :patch : :post, local: true do |form| %>

  <% if show.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(show.errors.count, "error") %> prohibited this show from being saved:</h2>

      <ul>
        <% show.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<!--  <div>-->
    <%#= form.label :movie_id, style: "display: block" %>
    <%#= form.text_field :movie_id %>
<!--  </div>-->
  <div>
    <%= form.label :movie_id, style: "display: block" %>
    <%= form.collection_select :movie_id, Movie.all, :id, :title, prompt: "Select a Movie" %>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :time, style: "display: block" %>
    <%= form.time_field :time %>
  </div>

  <div>
    <%= form.label :available_seats, style: "display: block" %>
    <%= form.number_field :seats_available %>
  </div>

  <div>
    <%= form.label :ticket_price, style: "display: block" %>
    <%= form.text_field :ticket_price %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>
