<p style="color: green"><%= notice %></p>

<% content_for :title, "Tickets" %>

<h1>Tickets</h1>

<div id="tickets">
  <% @tickets.each do |ticket| %>
    <%= render ticket %>
    <p>
      <%= link_to "Show this ticket", ticket %>
    </p>
  <% end %>
</div>

<% if params[:show_id].present? %>
  <%= link_to "New ticket", new_show_ticket_path(show_id: params[:show_id]) %>
<% else %>
  <%= link_to "New ticket", new_ticket_path %>  <!-- Adjusted this line -->
<% end %>
