<div id="<%= dom_id ticket %>">
  <p>
    <strong>User:</strong>
    <%= ticket.user_id %>
  </p>

  <p>
    <strong>Show:</strong>
    <%= ticket.show_id %>
  </p>

  <p>
    <strong>Confirmation number:</strong>
    <%= ticket.confirmation_number %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= ticket.status %>
  </p>

</div>
