<p style="color: green"><%= notice %></p>

<%= render @ticket %>

<div>
  <%= link_to "Edit this ticket", edit_admin_ticket_path(@ticket) %> |
  <%= link_to "Back to tickets", admin_tickets_path %>

  <%= button_to "Destroy this ticket", @ticket, method: :delete %>
</div>
